# Gradle files
.gradle/
build/

# Android Studio / IntelliJ files
.idea/
*.iml
*.iws
*.ipr
local.properties

# Log files
*.log

# Signing
*.jks
*.keystore
keystore.properties

# OS files
.DS_Store
Thumbs.db
